.idea
.vscode
.fleet
logs
.env

desktop.ini
*.log
*.zip
*.rar
*.7z
*.psd
*.gz
*.csv
*.txt
.DS_Store
._*

**/node_modules/
/www/files/*
/www/images/*
/www/sys-temp/*/*
/www/config.ini
!.gitkeep
!.htaccess
!/www/images/assets
!/www/files/assets